.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    text-align: center;
}

li a {
    color: #495E57;
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 20px;
}